venv/
ENV/
env/
.venv/
.env/
.env.local/

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# MacOS
.DS_Store


# web development
node_modules/
.next



# Logs
*.log